* {
    box-sizing: border-box;
  }
  
  :root {
    --main-bg: hsl(0, 0%, 100%);
    --top-menu-bg: #fffffe;
    --sub-menu-bg: hsl(40, 69%, 78%);
  }
  
  body {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 3rem auto;
    color: black;
  }

  nav {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  #top-menu a:hover {
    background-color: var(--sub-menu-bg);
  }