
  header {
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 100vh;
    justify-content: center;
    top: 0%;
    margin-bottom: 3rem;
    
  }
  

.topnav {
    padding-top: 5px;
    background-color: hsl(0, 0%, 94%);
    justify-content: space-evenly;
    display:flex;
  }
  

  .topnav a {
    float: left;
    display: flex;
    color: #000000;
    text-align: center;
    padding: 5px 5px 10px 5px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(207, 175, 107);
  }

  .text{
    position:absolute;
    bottom: 8px;
    top: 16px;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

  body {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 3rem auto;
    color: black;
    background-color: antiquewhite;
  }

  #Portfolio {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  /* Add your custom styling for each section */
  #Portfolio > div {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin: 10px;
  }

  .container {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin: 10px;
    justify-content: center;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    color: black;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #ffffff;
}